
@{
    ViewBag.Title = "Anasayfa";
}
 
    
<main>
    <div class="hero-wrapper">
        <div class="container">
            <div class="hero-container">

            
            <div class="hero-text text-center">
                <h1 class="hero-title hero-1">
                    Bize Katıl
                    <span class="hero-title main-text orange-gradient">Bize Katıl</span>
                </h1>
                <h1 class="hero-title hero-1">
                    Tıkla
                    <span class="hero-title main-text blue-gradient">Tıkla</span>
                </h1>
                <h1 class="hero-title hero-1">
                    Gelsin
                    <span class="hero-title main-text purple-gradient">Gelsin</span>
                </h1>

                <div class="hero-buttons spacer">
                    <div class="hero-btn">
                        <a href="@Url.Action("ShoppingList","Shopping")">
                            <button class="bt bt-lg">Alışverişe Başla</button>
                        </a>
                    </div>
                    <div class="hero-btn">
                        <a href="@Url.Action("Contact","Home")">
                            <button class="bt-secondary">İletişime Geç</button>
                        </a>
                    </div>
                </div>
                <div class="spacer">
                    <h2 class="hero-description">
                        Teknoroma, perakende, bayi ve alternatif satış kanalları ile toplam 55 mağaza, 30 departman, 20 merkez personeli ile toplam 258 çalışandan oluşan ve geniş ürün yelpazesiyle birçok marka seçeneği sunan Türkiye’nin sayılı elektronik marketlerindendir.

                    </h2>
                </div>

            </div>
        </div>
    </div>
            <div class="tiny-heading text-center">
                <small>keşfetmeye başla</small>
            </div>

            <span class="line blue-line"></span>
            <div class="section">
                <span class="section-span blue-nm">1</span>
                <h3 class="section-text">
                    <span class="span-title blue-nm">Ürünler</span>
                </h3>
            </div>

            <h4 class="section-title">Yüzlerce Ürünü Keşfet</h4>

            <div class="text-center">
                <p class="section-description">
                    Teknoroma tedarikçilerinden aldığı ürünleri, uygun fiyatlarla
                    müşterisine sunan aynı zamanda bu ürünlerin bakım ve onarım
                    hizmetlerini veren çok yönlü bir kuruluştur. Ürün yelpazesinin
                    büyük bir bölümünü bilgisayar donanımları, cep telefonları,
                    kameralar, fotoğraf makinaları gibi donanımlarla, bazı paket
                    yazılımlar oluşturur. En iyi ürünleri, en uygun fiyatlarla ve en
                    hızlı şekilde sizlere ulaştırmak için buradayız.
                </p>
            </div>

            <div class="section-img">
                <img src="~/OuterTools/img/islemci11.jpg" alt="" />
                <h4 class="img-title">En Kaliteli, En Hızlı, En Ekonomik </h4>
                <span id="slide"></span>
            </div>

            <!-- Brands Section -->
            <div class="tiny-heading text-center">
                <small>teknoloji devi markalar</small>
            </div>

            <span class="line purple-line"></span>
            <div class="section">
                <span class="section-span purple-nm">2</span>
                <h3 class="section-text">
                    <span class="span-title purple-nm">Markalar</span>
                </h3>
            </div>

            <h4 class="section-title">Aradığın Tüm Markalar</h4>
            <div class="section-img">
                <img src="~/OuterTools/img/Okyanus11.jpg" alt="" />

                <div class="slider">
                    <div class="slider-track">
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/apple.png" width="64" height="64" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/xbox-logo.png"
                                 width="60"
                                 height="60"
                                 alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/amd.png" width="60" height="60" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/asus.png" width="128" height="128" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/beats-pill.png"
                                 width="64"
                                 height="64"
                                 alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/canon.png" width="128" height="128" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/hp.png" width="64" height="64" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/ibm.png" width="128" height="128" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/intel.png" width="80" height="80" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/logitech.png"
                                 width="72"
                                 height="72"
                                 alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/nvidia.png" width="64" height="64" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/philips.png"
                                 width="128"
                                 height="128"
                                 alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/playstation.png"
                                 width="64"
                                 height="64"
                                 alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/pngegg.png"
                                 width="128"
                                 height="128"
                                 alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/seagate.png" width="64" height="64" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/sony.png" width="100" height="100" alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/windows-logo.png"
                                 width="64"
                                 height="64"
                                 alt="" />
                        </div>
                        <div class="slide">
                            <img src="~/OuterTools/img/icons/xiaomi.png" width="60" height="60" alt="" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Customers section -->
            <div class="tiny-heading text-center">
                <small>onbİnlerce mutlu müşterİ</small>
            </div>

            <span class="line orange-line"></span>
            <div class="section">
                <span class="section-span orange-nm">3</span>
                <h3 class="section-text">
                    <span class="span-title orange-nm">Memnuniyet ve Kalite</span>
                </h3>
            </div>

            <h4 class="section-title">TEKNOROMA </h4>
        </div>
    </div>

    <div class="stats-section">
        <section class="statistics">
            <div class="stats">
                <div class="stats-item">
                    <p class="highlight">55</p>
                    <span class="description">Mağaza</span>
                </div>
                <div class="stats-item">
                    <p class="highlight">30</p>
                    <span class="description">Departman</span>
                </div>
                <div class="stats-item">
                    <p class="highlight">25B+</p>
                    <span class="description">gönderilen SİPARİŞ</span>
                </div>
                <div class="stats-item">
                    <p class="highlight">%97.56</p>
                    <span class="description">memnunİyet</span>
                </div>
            </div>

        </section>
    </div>

    <div class="hero-wrapper">
        <div class="container">
            <div class="hero-container">
                <div class="section-img">
                    <img src="~/OuterTools/img/teknoveinsan11.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</main>

<script>

    document.addEventListener("DOMContentLoaded", function (event) {
        // Slayt olarak yazacak ürünlerin listesi
        var dataText = [
            
            "Akıllı Telefonlar.",
            "Bilgisayarlar.",
            "Oyun Konsolları",
            "Akıllı Saatler",
            "Oyuncu Ekipmanları",
            "Bilgisayar Bileşenleri",
            "Tabletler",
            "Kamera ve Fotoğraf Makineleri",
            
            
            
        ];
         

        
        // Bu yapıda ürün geçişleri bittiğinde kendini tekrar eden bir metod 
        function typeWriter(text, i, fnCallback) {
            // metnin geçişinin bittiğini onaylayan yapı
            if (i < text.length) {
                // add next character to h1
                document.querySelector("#slide").innerHTML = text.substring(0, i + 1) + '<span aria-hidden="true"></span>';

                
                setTimeout(function () {
                    typeWriter(text, i + 1, fnCallback);
                }, 100);
            }
            
            else if (typeof fnCallback == "function") {
                
                setTimeout(fnCallback, 2500);
            }
        }
        // Hazır yapı deneme
        function StartTextAnimation(i) {
            if (typeof dataText[i] == "undefined") {
                setTimeout(function () {
                    StartTextAnimation(0);
                }, 100);
            }
            
            if (i < dataText[i].length) {
                
                typeWriter(dataText[i], 0, function () {
                   
                    StartTextAnimation(i + 1);
                });
            }
        }
        
        StartTextAnimation(0);
    });
</script>