@model TerritoryVM
@{
    ViewBag.Title = "AddTerritory";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row container">
        <div class="col-sm-10">
            <section class="panel">
                <header class="panel-heading">
                    Bölge Ekleme Sayfası
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Bölge İsmi
                        </label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Territory.TerritoryDescription, new { @class = "form-control" })
                        </div>
                    </div>
                    <br /><br />

                    <div class="form-group">
                        <div class="col-sm-10">
                            <button class="btn btn-primary">Bölge Ekle</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
