@model OrderDetailVM
@{
    ViewBag.Title = "Ürün Detay Listesi";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Ürün</th>
                    <th>Adet</th>
                    <th>Toplam Fiyat</th>
                    <th class="hidden-phone">Durum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (OrderDetail item in Model.OrderDetails)
                {
                    <tr class="gradeX">
                        <td>@item.Order.ID</td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>$@item.TotalPrice</td>
                        <td class="center hidden-phone">@item.Status</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

<script src="~/Areas/Administration/AdminContent/ODDTJ.js"></script>